.image-wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.book-cover-image {
    max-width: 100%;
    width: auto;
    height: 100%;
    display: block;
    border: 2px solid black;
}

@media screen and (max-width: 760px) {

    .book-cover-image {
        width: 75% !important;
    }
}

@media screen and (max-width: 510px) {

    .book-cover-image {
        width: 40% !important;
    }
}