@media screen and (max-width: 1400px) {
  card-wrapper {
    width: 300px !important;
  }
}

@media screen and (max-width: 980px) {
  .card-wrapper {
    height: 400px !important;
    width: 150px !important;
  }

  .book-title {
    font-size: 15px !important;
    padding-top: 10px !important;
  }

  .BookCardShow {
    margin-top: 30px !important;
    padding: 3px !important;
    font-size: 12px !important;
  }
}

@media screen and (max-width: 760px) {
  .book-cards-wrapper {
    grid-template-columns: minmax(100px, 300px) minmax(100px, 300px) minmax(
        100px,
        300px
      ) !important;
  }

  .card-wrapper {
    height: 250px !important;
    width: 150px !important;
  }

  .book-title {
    font-size: 10px !important;
    padding-top: 5px !important;
  }

  .BookCardShow {
    margin-top: -10px !important;
    padding: 1.5px !important;
    font-size: 10px !important;
  }

  .book-cover-image {
    width: 75% !important;
  }
}

@media screen and (max-width: 510px) {
  .book-cards-wrapper {
    grid-template-columns: minmax(100%, 80%) !important;
  }

  .card-wrapper {
    height: 300px !important;
    width: 90px !important;
  }

  .book-title {
    font-size: 17px !important;
    padding-top: 0 !important;
    margin-top: -10px;
  }

  .BookCardShow {
    margin-top: -5px !important;
    padding: 5px !important;
    font-size: 14px !important;
    z-index: 10;
  }

  .book-cover-image {
    width: 40% !important;
  }
}

.book-cards-wrapper {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(200px, 600px) minmax(200px, 600px) minmax(
      200px,
      600px
    );
}

.card-wrapper {
  width: 8vh;
  flex: 1 0 30%;
  display: flex;
  margin: 2.5% 10px 10px 10px;
  flex-direction: column;
  background-clip: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 250, 130),
    rgba(254, 220, 112)
  );
  clear: both;
  justify-content: center;
  min-width: 95%;
  height: 600px;
}

.card-title {
  height: 50px;
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
}

.BookCardShow {
  color: #f3f6fb;
  position: absolute;
  margin-top: 110px;
  padding: 5px;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
  z-index: 0;
  background-color: #af0808;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.BookCardShow:hover {
  background-color: rgb(197, 103, 103);
}

.BookCardShow:focus {
  color: #f3f6fb;
  background-color: #af0808;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}

.BookCardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cover-image {
  max-width: 100%;
  width: auto;
  height: 100%;
  display: block;
  border: 2px solid black;
}

.image-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.card-body {
  flex: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
  align-items: center;
}

.modal-header {
  background-color: #ffff66 !important;
  justify-content: center;
}

.modal-header .close {
  display: none;
}

.ModalCardImg {
  width: 40%;
}

.ModalRight {
  color: black;
  float: right;
  display: inline;
  width: 420px;
}

.ModalTextSpacing {
  display: block;
  margin-bottom: 1px;
  font-size: 21px;
  font-weight: 350;
}

.ModalDesc {
  text-align: center;
  font-size: 21px;
  font-weight: 450;
}

.Desc {
  font-weight: 350;
  color: black;
}

.Price {
  font-size: 24px;
  font-weight: 480;
}

.PriceText {
  font-weight: 500;
}

.CancelButton {
  transition: all 250ms ease-in-out;
  background-color: #66666e;
}

.BuyButton {
  font-size: 18px;
  padding: 5px 15px;
  border: 0;
  background-color: #af0808;
  color: ghostwhite;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.BuyButton:hover {
  background-color: rgb(197, 103, 103);
}

.CancelButton:hover {
  background-color: #7f7f8a;
}

.hr {
  margin-bottom: -20px;
}

.BaseSize {
  min-height: 500px;
}
