a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 17px;
}

@media (min-width: 790px) {
    html {
        font-size: 19px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.NavContainer {
    height: 60px;
    background-color: #FFFF66;
}

.NavWrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.NavLeft {
    flex: 1;
    display: flex;
    align-items: center;
}

.Lang {
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    padding:10px;
}

.SearchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 30px;
    margin-left: 6.5%;
    
}
.SearchButton{
    margin-left: 10px;
}

.NavInput {
    border: none;
}

.NavCenter {
    flex: 1;
    text-align: center;
}

.NavLogo {
    font-weight: bold;
}

.NavRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.NavMenuItem {
    font-size: 16px;
    cursor: pointer;
    margin-left: 25px;
}
.stick-the-navbar{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgb(228, 228, 228);
    z-index: 300;
}
.bars{
    display: none;
    color: black;
}
@media screen and (max-width:790px) {
    .bars{
        display:block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .NavLeft{
        display: none;
    }
    .NavRight{
        display: none;
    }

}