a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 17px;
}

@media (min-width: 790px) {
    html {
        font-size: 19px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.NavContainer {
    height: 60px;
    background-color: #FFFF66;
}

.NavWrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavLeft {
    flex: 1;
    display: flex;
    align-items: center;
}

.Lang {
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    padding: 10px;
}

.SearchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 30px;
    margin-left: 6.5%;
}
.SearchContainerBurgir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 30px;
    margin-left: 13%;
}

.SearchButton {
    margin-left: 10px;
}
.SearchButtonBurgir {
    margin-right:7%
}

.NavInput {
    border: none;
    border: 1px solid #66666E;
    border-radius: 2px;
    width: 200px;
}
.NavInputBurgir {
    border: 1px solid #66666E;
    width: 120px;  
    border-radius: 2px;
    margin-left: 5%;
}

.NavCenter {
    flex: 1;
    text-align: center;
}

.NavLogo {
    font-weight: bold;
}

.NavRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.NavMenuItem {
    padding:5px 17px 5px 17px ;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.stick-the-navbar {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgb(228, 228, 228);
    z-index: 300;
}

.bars {
    display: none;
    color: black;
}
@media screen and (min-width:791) {
    .burgirMenu{
        display: none ;
    }
}

@media screen and (max-width:790px) {
    .bars {
        display: block;
        position: absolute;
        bottom: 60%;
        right: 0;
        transform: translate(-100%,75%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .NavLeft {
        display: none;
    }

    .NavRight {
        display: none;
    }
}
.burgerClose{
    align-items: center;
    margin: 10px;
    width: 30px;
    height: 30px;
    z-index: 10;
}
.burgirHead{
    font-size: 20px;
}
.burgirDiv{
    margin-top: -15%;
    margin-top: -23%;
    margin-left: 3%;
}
.burgirMenu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #F3F6FB;
    width: 250px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    list-style: none;
    padding: 20px;
    transition: all 1s ease;
    border-style: none none none solid ;
    border-color:#66666E ;
    border-width: 5px;
    border-spacing: 10px;
    border-collapse: separate;

}
